* {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}
#ai-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#ai-player img {
  width: 5%;
  height: 40%;
}
#gameboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
